.hero {
  text-align: center;
  background-size: cover;
  min-height: 800px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.hero h1 {
  line-height: 55px;
  font-size: 72px;
  font-weight: 100;
  color: black;
  font-family: 'Arimo', sans-serif;
}


.hero h2 {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  font-family: 'Arimo', sans-serif;
}

#intro .container-fluid .h3 {
  color: white;
}

#intro {
  background: url("../img/jumbotron/art.jpg");

}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  opacity: 0.9;
  z-index: 1;
  position: fixed;
  width: 100%;

}

.nav-ul li {
  float: left;
}

.nav-ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-size: 15px;
  text-decoration: none;
  color: grey;

}

.nav-ul li a:hover {
  background-color: #C6FF00;
  opacity: 0.9;
}


.cta {
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
  width: 150px;
  padding: 0px;
  line-height: 50px;
  border-radius: 2px;
}

.cta:hover {
  background-color: #C6FF00;
  color: black;
}

#gallery {
  background-color: lightgrey;
  padding top: 0px;
  padding-bottom: 250px;
  margin: 0px; }

  #contact {
    background-color: lightgrey;
    padding-top: 0px;

  }

#contact img {
  height: 15px;
}

  .form-group {

  }

  .col-md-4 {
    overflow: hidden;
    padding: 0px 5px 10px 5px;
  }

  .col-md-4 img {
    height: 100%;
    max-width: 390px;
    max-height: 380px;
  }

  .left-col {
    text-align: right;
    padding: 20px;
}

.right-col img {
border-radius: 100%;
}

.form-wrap {
  max-height: 300px;
  margin-left: width: 700px;
  padding: 50px;
  background-color: grey;
border: 50px;
border-radius: 2px;
flex: auto;


}

#sendbutton {
  line-height: 30px;
  width: 90px;
  border-radius: none;
  font-size: 16px;
  background-color: black;
  color: white;
}

#sendbutton:hover {
  background-color: #C6FF00;
  color: black;
}

  #footer {
    height: 40px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }


    #footer a {
      color: black;
      font-size: 16px;
      line-height: 40px;
      padding: 10px;
      margin top: 10px;
      margin-left: 5px;
      margin-right: 20px;
    }


    #footer .footer-item {
      flex: 1;
      max-width: 100px;
      display: inline;
    }

  #copyright {
  align-content: flex-end;
  float: right;
  }
